<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ParameterizedNG" verbose="1">

    <test name="Fibonacci">
        <parameter name="number" value="6"/>
        <parameter name="result" value="8"/>
        <classes>
            <class name="houseware.learn.testing.testng.parameterizedng.TestNGParameterizedXml"/>
        </classes>
    </test>
</suite>
